
  .redText
  {
      color: red;
  }

body{
    background-image: url(../images/textureWhite.jpg);
}

.dadsFont{
    font-family: 'Luckiest Guy', cursive;
}

.raleway{
    font-family: 'Raleway', sans-serif;
}

.dadFontSize{
    font-size: 45px;
}

.hotDogHero{
    background-image: url(/images/hotDogHero.jpg);
}
.noPadding{
        padding: 0 !important;
        margin: 0 !important;
}
.LinksSpacing {
    padding-right: 8%;
}
.pageFont{
    font-family: 'Oswald', sans-serif;
    color: black;
}
.headerFontSize{
    font-size: 35px;
}